/* Variables */
$primary-color: #007bff;
$secondary-color: #6c757d;

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilo básico para los enlaces */
a {
  text-decoration: none;
  color: $primary-color;
}

/* Estilos para la lista de comidas */
ul {
  list-style: none;
  padding: 0;
  
  li {
    margin: 10px 0;
    
    /* Herencia usando @extend */
    a {
      @extend a; /* El estilo de "a" se aplicará también a "a" dentro de "li" */
    }
    
    &:hover {
      color: $secondary-color;
    }
  }
}

/* Estilos para las imágenes de las comidas */
img {
  max-width: 100%;
  height: auto;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
